@import '../../themes/lytedev/src/variables.styl'

#logo-svg-color-stop-1
	stop-color $link-color

#logo-svg-color-stop-2
	stop-color alpha($link-color, 50%)

#logo-text-part-one
	fill url(#logo-svg-color-gradient)

#lytedev-logo-icon
	transition stroke 2s ease

#site-logo
	svg stop
		transition stop-color 0.2s ease

	&:hover
		#logo-svg-icon-color-stop-1
			stop-color $link-color

		#logo-svg-icon-color-stop-2
			stop-color alpha($link-color, 50%)

		#logo-svg-color-stop-1
			stop-color $copy-color

		#logo-svg-color-stop-2
			stop-color alpha($copy-color, 50%)
